body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100vh;
    position:absolute;
}

.button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#word {
  position: relative;
}

h1 {
  font-weight: 700;
}